.header{
 
}
.search-box{
  position: absolute;
  background: #1975b3;
  width: 100%;
  height: 100px;
}
.search-form {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%);
  background: #2f3640;
  height: 45px;
  width: 300px;
  border-radius: 40px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  margin-bottom: 25px;
  box-shadow: 250ms;
  
}
.btn-search{
  color: #1da1f3;
  float: right;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  
}
.search-form:hover .search-input{
  padding: 0 6px;
}
.btn-search:hover{
 background: white;
 cursor: pointer;
}
.search-input{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 23px;
  width: 0;
  transition: 0.4s;
  width: 250px;
}
.load-more{
  width: 80px;
  border-radius: 3px;
  background: #2f3640;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,300%);
  border: none;
  cursor: pointer;
  padding: 0;
  color: #1da1f3;
  font-size: 16px;
  line-height: 23px;
  
}
.load-more:hover{
  color: white;
}

