body{
  margin: 0;
  padding: 0;
  // background: #1da1f3;
}
.search-box{
  background: #1975b3;
  width: 100%;
  height: 50px;
}
.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-829%);
  background: #2f3640;
  height: 45px;
  border-radius: 40px;
  padding: 10px;
}
.btn{
  color: #1da1f3;
  float: right;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  
}
.search-box:hover .search-input{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover .btn{
 background: white;
 cursor: pointer;
}
.search-input{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 23px;
  width: 0;
  transition: 0.4s;
}